/* Estilos gerais */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Barra superior */
header {
  background-color: rgba(186, 201, 205, 0.5); 
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Espaço para a foto de paisagem */
.landscape-image {
  width: 100%;
  height: 400px;
  background-image: url('/assets/images/paisagem2.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 10 px; /* Para não sobrepor a barra superior */
}

/* Seção de perfil */
.profile-section {
  text-align: center;
  padding: 30px;
  background-color: rgba(192, 206, 208, 0.5); /* Cinza translúcido */
  margin-top: 0px; /* Subindo para sobrepor à foto */
  position: relative
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-size: 30px;
  color: black;
  margin-bottom: 5px;
}

.skills {
  font-size: 20px;
  color: black; 
}

/* Seção "Sobre mim" */
.about-me {
  text-align: center;
  padding: 30px 20px;
}

.about-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.about-text {
  font-size: 20px;
  color: #333333; /* Um cinza escuro */
  line-height: 1.6; /* Para melhorar a legibilidade */
}

