---
title: false
styles: true
---
// Background colours
$backgroundColour: #00b300 ;
$codeBackgroundColour: #00b300 !default;
$featureBackgroundColour: #00b300 !default;
$accentColour: #00b300 !default;

// @import "alembic";
