<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carlos Henrique Russi</title>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <!-- Barra de navegação superior -->
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
        <li><a href="{{ '/contato' | relative_url }}">Contato</a></li>
      </ul>
    </nav>
  </header>

  <!-- Imagem de paisagem -->
  <div class="landscape-image"></div>

  <!-- Seção de perfil -->
  <div class="profile-section">
    <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Minha Foto" class="profile-photo">
    <div class="name">Carlos Henrique Russi</div>
    <div class="skills">
      <p>Biólogo, consultor ambiental e estatístico, mestre em ecologia</p>
      <p>E-mail para contato: carloshrussi@outlook.com</p>
    </div>

    <!-- Links para redes -->
    <div class="link-box">
      <a href="https://lattes.cnpq.br/4415289189450820" target="_blank">Currículo Lattes</a>
    </div>
    <div class="link-box">
      <a href="https://scholar.google.com/citations?user=El1zdVcAAAAJ&hl=pt-BR" target="_blank">Google Acadêmico</a>
    </div>
  </div>

  <!-- Seção "Sobre mim" -->
  <div class="about-me">
    <div class="about-title">Sobre mim</div>
    <div class="about-text">
      <p>Olá! Meu nome é Carlos Henrique Russi</p>
    </div>
  </div>

</body>
</html>
