<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carlos Henrique Russi</title>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <!-- Barra de navegação superior -->
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
      </ul>
    </nav>
  </header>

  <!-- Imagem de paisagem -->
  <div class="landscape-image"></div>

  <!-- Seção de perfil -->
  <div class="profile-section">
    <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Minha Foto" class="profile-photo">
    <div class="name">Carlos Henrique Russi</div>
    <div class="skills">
      <p>Biólogo, consultor ambiental e estatístico, mestre em ecologia</p>
      <p>E-mail para contato: carloshrussi@outlook.com</p>
    </div>

    <!-- Links para redes -->
    <div class="link-box">
      <a href="https://lattes.cnpq.br/4415289189450820" target="_blank">Currículo Lattes</a>
    </div>
    <div class="link-box">
      <a href="https://scholar.google.com/citations?user=El1zdVcAAAAJ&hl=pt-BR" target="_blank">Google Acadêmico</a>
    </div>
  </div>

  <!-- Seção "Sobre mim" -->
  <div class="about-me">
    <div class="about-title">Sobre mim</div>
    <div class="about-text">
	<p>Olá! Sou biólogo, mestre (UFSC) e aluno de doutorado (INPA) em ecologia.</p>
	<p>Minha pesquisa e atuação profissional estão focadas na interseção entre a ecologia e a conservação da biodiversidade. Particularmente, me interesso em como 	conceitos da teoria ecológica podem nos ajudar a compreender melhor as interações entre espécies e seu ambiente, e como esse conhecimento pode ser aplicado 	para mitigar os impactos humanos sobre a natureza.</p>
	<p>Além disso, tenho especial interesse e experiência em métodos analíticos que permitam integrar avanços na teoria ecológica com dados de campo coletados 	em diferentes contextos, gerando assim lições úteis em ecologia e conservação.</p>
	<p>Estou aberto a colaborações e parcerias em projetos que explorem esses temas. Se tiver interesse, sinta-se a vontade para entrar em contato!</p>   
 </div>
  </div>

</body>
</html>
 